.navbar {
  height: 40px;
  position: fixed;
  width: calc(100% - 64px);
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 16px 32px;
}

.navbar .logo {
  height: 32px;
  width: auto;
}

.navbar-items {
  display: flex;
  width: 50%;
  justify-content: flex-end;
}

.navbar-item {
  margin: 0 16px;
  display: flex;
  align-items: center;
}

.navbar-item:hover {
  color: #BCA9F1;
  cursor: pointer;
}

.content {
  margin-top: 152px;
}

.selectable:hover {
  color: #BCA9F1;
  background-color: #F7F7F7;
  border-radius: 4px;
}

.selectable:hover h3 {
  color: #BCA9F1;
}
.selectable:hover p {
  color: #BCA9F1;
}